<html>
    <head>
        <title>Home Page - Cryptolytic</title>
	<style>
		body {
				margin: 50px;
				margin-top: 30px;
				width: 80%;
		}
		ul {
				list-style-type: none;
		}
		li {
				background-color: lightblue;
				border: 1px;
				border-radius: 5px;
				margin-bottom: 35px;
				padding: 20px;
				margin-top: 0;
		}
	</style>
    </head>
    <body>
        <h1> Cryptolytic DS API </h1>
		<div style="height: 5px;"></div>
		<section>
				<h2>Routes</h2>
				<ul>
						<li>
								<h3>/trade</h3>
								<p>Description: Returns future trade predictions for the given exchange and trading pair</p>
								<p>Input Example: {"exchange_id":"binance", "trading_pair":"eth_btc", "period" : 300}</p>
								<p>Return Example: 
										[{"exchange":"binance","trading_pair":"eth_btc","timestamp":123,"close_pred":1234},{"exchange":"binance","trading_pair":"eth_btc","timestamp":124,"close_pred":1236},{"exchange":"binance","trading_pair":"eth_btc","timestamp":125,"close_pred":1237},{"exchange":"binance","trading_pair":"eth_btc","timestamp":126,"close_pred":1239},{"exchange":"binance","trading_pair":"eth_btc","timestamp":127,"close_pred":1233}]
								</p>
								<p></p>
						</li>
						<li>
								<h3>/data/<file></h3>
								<p>Description: Serve static file from data folder.</p>
								<p>Input Example: data/api_info.json</p>
						</li>

				</ul>
		</section>
    </body>
</html>
