<html>
    <head>
        <title>Home Page - Cryptolytic</title>
	<style>
		body {
				margin: 50px;
				margin-top: 30px;
				width: 80%;
		}
		ul {
				list-style-type: none;
		}
		li {
				background-color: lightblue;
				border: 1px;
				border-radius: 5px;
				margin-bottom: 35px;
				padding: 20px;
				margin-top: 0;
		}
	</style>
    </head>
    <body>
        <h1> Cryptolytic DS API </h1>
		<div style="height: 5px;"></div>
		<section>
				<h2>Routes</h2>
				<ul>
				        <li>
								<h3>/trade_predictions</h3>
								<p>Description: Returns top trade predictions for use in dashboard.</p>
								<p>Input Example:</p>
								<p>Return Example:
									[{'exchange': 'bitfinex', 'trading_pair': 'btc_usd', 'trade_time': 1576537496, 'percentage_difference': 0.10, 'price_difference': 0.02},
]</p>
								<p></p>
						</li>
					    <li>
								<h3>/arbitrage_predictions</h3>
								<p>Description: Returns top arbitrage predictions for use in dashboard.</p>
								<p>Input Example:</p>
								<p>Returns: [{'buy_exchange': 'bitfinex', 'sell_exchange': 'coinbase_pro', 'trading_pair': 'btc_usd', 'arbitrage_percentage': 0.05, 'trade_time': 1576537496, 'price_difference': 0.00000001}]</p>
						</li>
					    <li>
								<h3>/trade_candles</h3>
								<p>Description: Returns predicted future candlestick data for a given trading pair on a given exchange.</p>
								<p>Input Example:
										{"exchange_id":"binance", "trading_pair":"eth_btc", "start":start, "end":end, "period":300}
								</p>
								<p>Returns: []</p>
						</li>

				</ul>
		</section>
    </body>
</html>
